<div class="row">
  <div class="col-lg-5 col-lg-offset-3">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, autofocus: true %>
  <%= f.input :last_name %>
  <%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :child_age_group, priority: ['0-6 months'], collection: ['0-6 months', '7-12 months', '13-18 months', '18-24 months', '24 months+'] %>
  <%= f.input :child_gender, collection: ['Female', 'Male', 'Undisclosed'] %>

  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />

  <%= f.input :password, autocomplete: "off" %>
  <%= f.input :password_confirmation, autocomplete: "off" %>

  <%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i><br />

  <%= f.button :submit %>

  <% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
