<div class="row">
  <div class="col-lg-5 col-lg-offset-3">

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, autofocus: true %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :child_age_group, priority: ['0-6 months'], collection: ['0-6 months', '7-12 months', '13-18 months', '18-24 months', '24 months+'] %>
  <%= f.input :child_gender, collection: ['Female', 'Male'] %>

  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />

  <%= f.input :password, autocomplete: "off" %>
  <%= f.input :password_confirmation, autocomplete: "off" %>
  <%= f.button :submit %>

<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
